@model Product
@{
    ViewData["Title"] = "Create";
}



<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase" style="color:darkred">Ürün Ekle</h2>
            </div>
        </div>
        <div>
            @* image upload için enctype ekledik *@
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                @* imgae upload kısmı *@
                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="Photo" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input type="file" name="upload" class="form-control" />
                            <input asp-for="Photo" type="hidden" class="form-control" />
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="Title" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="Detail" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <textarea asp-for="Detail" class="form-control"></textarea>
                            <span asp-validation-for="Detail" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="UsageArea" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="UsageArea" class="form-control selectpicker" required asp-items="@Html.GetEnumSelectList<UsageArea>()">
                                <option value="">Çalışma Şekli*</option>
                            </select>
                            <span asp-validation-for="UsageArea" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="Size" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="Size" class="form-control selectpicker" required asp-items="@Html.GetEnumSelectList<Size>()">
                                <option value="">Çalışma Şekli*</option>
                            </select>
                            <span asp-validation-for="Size" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="Color" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="Color" class="form-control selectpicker" required asp-items="@Html.GetEnumSelectList<Color>()">
                                <option value="">Çalışma Şekli*</option>
                            </select>
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="Date" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Date" class="form-control" type="date" value="Date.now();"/>
                            <span asp-validation-for="Date" class="text-danger" ></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">Oluştur</button>
                    </div>
                </div>

            </form>

           
            
        </div>
    </div>
</section>
