@{
    ViewData["Title"] = "About";
}


 <!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Hakkımızda</h2>
                <h3 class="section-subheading text-muted">Doğadan Hayata</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1995</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Yarım yüzyıl önce, Kurucumuz ve Yönetim Kurulu Başkanımız Zeki Yurtbay'ın Zonguldak'ta tuğla, kiremit üretimi ile başlayan girişim serüveni, 1995 yılında Eskişehir'de Yurtbay Seramik Fabrikası'nın kuruluşuyla ulusal çapa ulaştı.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2003</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Bugün 700.000 m2 açık ve 100.000 m2 kapalı alanda süren üretim 20.000.000 m2/yıl kapasitesine sahip. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Teknik granit, yer karosu, duvar karosu, geçmeli dijital karolar, küçük ebat karolar, yapı kimyasalları ve frit olmak üzere tüm ürünleri aynı tesiste, tek marka altında üreten ve temin eden Yurtbay Seramik, bu özelliğiyle rakiplerinden farklı bir niteliğe sahiptir.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">"Önce kalite" anlayışıyla gelişen, saygın ve lider yerli markalar arasına giren Yurtbay; ülkemizdeki kesintisiz gelişiminin yanı sıra, dünyanın en büyük satış zincirlerinin işbirliği yaptığı, 50 ülkeye ihracat gerçekleştiren uluslararası bir markadır.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                <br>Yurtbay
                                <br>Seramik
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
