
@{
    ViewData["Title"] = "SSS";
}



  <!-- Contact -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">SSS</h2>
            </div>
        </div>
        <div>
        <br />

<button class="accordion">Seramik türleri nelerdir?</button>
<div class="panel">
    <p style="color:black">Bünye ve teknik özelliklerine göre seramikler üç ürün grubuna ayrılabilir.Yer Karosu – Duvar Karosu – Porselen Karo (Sırlı ve Sırsız)</p>
</div>

<button class="accordion">Seramik seçiminde nelere dikkat edilmelidir?</button>
<div class="panel">
    <p style="color:black">Doğru ürün seçiminde , görsel ve estetik görünümün yanı sıra ürünün teknik özellikleri de önem taşır.
        <br />Duvar karolarını , zemine ve dış mekanlara kesinlikle döşemeyiniz.
        <br />Yer karoları ve porselen karolar , uygun yapıştırıcılar kullanılarak duvara döşenebilir.
        <br />Düşük su emme değerine sahip porselen karolar , dış mekanlara rahatlıkla döşenebilir.
        <br />Yer karoları dış mekanlarda , sadece uygun yapıştırıcı ve su geçirmez, dona dayanıklı derz dolgu malzemesi ile birlikte kullanılmalıdır.
        <br />Yoğun yaya trafiğinin olduğu alanlara döşenecek karolar , aşınma sınıfı (PEI) yüksek ürünlerden seçilmelidir.
        <br />Havuz kenarları gibi ıslak alanlarda , kaymazlık değeri yüksek karolar kullanılmalıdır. </p>
</div>
       
            <button class="accordion">Döşeme öncesi nelere dikkat edilmelidir?</button>
            <div class="panel">
                <p style="color:black">Uygulama yapılacak zemin düzgün ve temiz olmalıdır.
                    <br />Kutu üzerindeki renk tonu ve kalibre (boyut) bilgileri dikkatle okunmalı , farklı özelliklerdeki ürünler aynı alana döşenmemelidir. Seramik teknolojisinde , kabul edilebilir derecede bir renk ton farkı ve ebat aralığı , kaçınılmaz bir gerçektir.
                    <br />Hatalı , çatlak – kırık , deforme olmuş karolar varsa , döşenmeden önce ayrılmalı , kutu/palet etiket bilgileri ile bayiye ulaştırılmalıdır. Döşeme sonrası yapılacak şikayetler kabul edilmemektedir.
                    <br />Kullanılacak yapıştırma harcı ve derz dolgu hazırlanırken , ambalajlar üzerindeki kullanma talimatlarına uyulmalıdır.
                    <br />Daha sonra oluşabilecek herhangi bir tadilat durumunda , ürünün devamının yada aynı renk tonunun bulunamayabileceği dikkate alınarak , yeterli olabilecek miktarda karo fazlası temin edilmeli ve saklanmalıdır.
                    <br />Teras , balkon , havuz gibi dış mekanlarda , öncelikle su yalıtımı yapılmalıdır.
                    <br />Artan ürün , ambalajı ile birlikte muhafaza edilmelidir.</p>
            </div>

            <button class="accordion">Kullanım ve bakımda nelere dikkat edilmelidir?</button>
            <div class="panel">
                <p style="color:black">Döşeme sonrası , seramik yüzeydeki derz kalıntıları kurumadan mutlaka temizlenmelidir. Bu işlem için sadece su ve temiz bir sünger yeterlidir.
<br />Derz dolgu kalıntılarının , seramik yüzeylerde kuruyarak sertleşmesi temizliği güçleştirir. Bu durumda karo yüzeyleri ancak özel kimyasallarla temizlenebilir (Yurtbay Cleaner gibi) . Temizlik sonrası yüzeyler birkaç kez su ile durulanmalıdır.
<br />Metalik yüzeyli karoların temizliğinde sadece su ve nötr olarak adlandırılan temizlik malzemeleri kullanılmalıdır (asidik yada bazik temizlik malzemeleri yüzeyde hasara neden olabilir).
<br />Döşeme yerine göre temizlik sıklığı haftalık , günlük veya günde birkaç kez şeklinde değişebilir (karoların döşendiği alanın kirlenme potansiyeli ve karo yüzey özelliklerine göre).
<br />Sırlı (özellikle parlak yüzeyli yer ve duvar karoları) karolarda yüzeylerin çizilmesi riskine karşı , toz içeren temizlik malzemeleri yerine jel yada krem temizleyiciler kullanılmalıdır.</p>
            </div>

            <button class="accordion">Teknik özellikler, tanımlamalar ve ilgili standartlar nelerdir?</button>
            <div class="panel">
                <p style="color:black">
                    Seramik karolar ; kırılma ve eğilme dayanımı , çatlamaya dayanım , su emme , dona dayanım , ısı şokuna dayanım gibi ait oldukları ürün grubuna özgü bünyesel ortak teknik özellikler taşırlar.
                    <br />Aşınma , lekelenme ve kimyasallara dayanım , kaymazlık gibi her ürünün yüzey özelliklerine göre değişebilen teknik özellikler de ayrıca tanımlanır.
                    <br />Yine ürün gruplarına göre ebat ve kalınlık , kenar düzgünlüğü , yüzey düzgünlüğü ve yüzey kalitesi de , toleransları ile birlikte tanımlanmıştır.
                    <br />Yurtbay Seramik , TSE tarafından da kabul edilerek yayınlanmış uluslararası bir standart olan TS EN 14411: 2012 ‘ye uygun olarak üretim yapmakta ve yine bu standartta belirtilen test yöntemleri (TS EN 10545 serisi) ile üretimini kontrol altında tutmaktadır.
                    <br />Sahip olduğumuz ISO 9001 Kalite Yönetim Sistemi , uluslararası bir kuruluş olan TÜV Austria tarafından belgelendirilmiştir  ve düzenli olarak denetlenmektedir.
                    <br />Şekillendirme türü ve su emme (Eb ) değerlerine göre ürün grup tanımları  :

                   <br /> Duvar Karosu (bkz: ilgili Tablo)
                   <br />Kuru preslenmiş seramik karolar TS EN 14411 , Grup BIII , Ek K (Eb > 10%) , GL

                    <br />Yer Karosu (bkz: ilgili Tablo)
                    <br />Kuru preslenmiş seramik karolar TS EN 14411 , Grup  BIb ,, Ek H (0,5% < Eb < 3%) , GL

                    <br />Sırlı Porselen (bkz: ilgili Tablo)
                    <br />Kuru preslenmiş seramik karolar TS EN 14411 , Grup  BIa ,, Ek H (Eb < 0,5%) , GL

                    <br />Porselen / Granit (bkz: ilgili Tablo)
                    <br />Kuru preslenmiş seramik karolar TS EN 14411 , Grup  BIa ,, Ek G (Eb < 0,5%) , UGL (sırsız)
                </p>
            </div>

            <button class="accordion">Kutu / Palet üzerindeki tanımlamalar nelerdir?</button>
            <div class="panel">
                <p style="color:black">
                    Kutu üzerinde aşağıdaki tanımlamalar bulunur (örnektir) :

                    <br />Ürün Grubu	:	Duvar Karosu
                    <br />Ürün Adı	:	Nüans Beyaz
                    <br />Nominal Boyut	:	20 x 50
                    <br />Kalibre (Çalışma Boyutu)	:	W2 (çalışma aralığını belirtir)
                    <br />Renk Tonu	:	T12 (partiyi tanımlar)
                    <br />Kalite	:	Birinci / First
                    <br />Üretim Tarihi	:	190315 ( 19 Mart 2015)
                    <br />Adet – M2	:	10 adet / yaklaşık 1 m2 (kutu)
                </p>
            </div>

            <button class="accordion">Boyut ve kalibre bilgisi nedir?</button>
            <div class="panel">
                <p style="color:black"> Doğada bulunan hammaddelerin değişken özellikleri ve işletme (fırın , pres ) koşullarındaki zorunlu değişimler , seramik teknolojisinin bir  gereğidir. Bu nedenle , aynı anda üretilmekte olan karoların boyutları da belli bir aralıkta değişebilir.
                    <br /> Döşeme sırasında kolaylık olması ve belli aralıktaki ürünlerin birarada olmasını sağlamak üzere , ürünler paketleme hatlarındaki otomatik boyut tanımlama cihazları tarafından sınıflandırılarak kutulanır.
                    <br />Örneğin , çalışılan ebata göre standardın belirlediği aralık 3 mm ise , kalibre sınıflandırması ile 1 ‘er mm aralığa sahip  üç grup oluşturulur ; bunlar kalibre sınıflarıdır (W1 , W2 , W3).
                    <br /> Döşenen ürünlerde boyut sorunu ile karşılaşılmaması için , palet ve kutu etiket bilgilerine dikkat edilmeli , aynı kalibre bilgisine sahip karolar birlikte döşenmelidir.
                </p>
            </div>

            <button class="accordion">Renk tonu bilgisi neyi tanımlar?</button>
            <div class="panel">
                <p style="color:black">Boyut açıklamasında da belirtildiği üzere , benzer şekilde , yine seramik teknolojisinin bir  zorunluluğu olarak , farklı zamanlarda üretilen ürünlerin renk tonlarında kabul edilebilir değişiklikler yaşanması , doğal bir durumdur.
                    <br />Bu nedenle , her üretim partisini tanımlamak üzere bir renk tonu sınıfı (T1 , T15 , T73 gibi) belirtilir.
                    <br />Aynı renk tonu sınıfına sahip ürünler aynı mekana döşenmelidir.
                    <br />Döşeme öncesi , karolar yere karışık şekilde yayılarak dağılım kontrol edilmeli , rahatsız edici bir durum varsa , sorunlu karolar döşenmemelidir.
                </p>
            </div>

            <button class="accordion">Renk, ton ve doku çeşitliliklerinin tanımlanması (V sınıflaması)?</button>
            <div class="panel">
                <p style="color:black">  <strong>V1</strong> = AYNI GÖRÜNÜM (TEKDÜZE): Karodan karoya çok az ve önemsiz farklılıklarla her bir karo aynı doku, renk, ton ve motife sahiptir.
                    <br /><strong>V2</strong> = HAFİF FARKLILIK: Doku ve/veya desende aynı renkler arasında farklılıklar olabilir. Karoların genel görünüşü oldukça benzerdir.
                    <br /><strong>V3 </strong>= ORTA DÜZEYDE FARKLILIK: Bir karoda bulunan renkler diğer karolardaki renkler hakkında bilgi vermekle birlikte renk yoğunluğunda önemli derecede farklılık gösterir. Karo üzerinde önemsiz gibi görünen bir renk diğer bir karo üzerinde ağırlıklı renk olabilir.
                    <br /><strong>V4 </strong>= RASTGELE FARKLILIK / ÇEŞİTLİLİK: Bir karo diğer bir karoya göre tamamen farklı renkte olabilir. Bu karolar tüketici tarafından birkaç parça çıkartılacak şekilde seçilemezler. Renk farklılıklarından dolayı karolarda doğal bir görünüm vardır. Bu yüzden her bir döşeme özgün yapıda olur.</p>
            <img src="https://www.yurtbay.com.tr/upload/v.gif" />
            </div>

            <button class="accordion">Kaymazlık nedir? Antislip ürün nedir?</button>
            <div class="panel">
                <p style="color:black">Yer karoları / Porselen karolar , yüzey özelliklerine göre değişen kayganlıklara sahiptir.
                    <br />Kaymaz özelliklere sahip karolar ”antislip” olarak tanımlanırlar.
                    <br />Kaymazlık sınıflandırmasında yaygın olarak DIN 51130 ve DIN 51097 (Alman standartları) ile ASTM C1028 (wet/dry COF) ve ANSI B101.3 (wet DCOF) (Amerikan standartları) kullanılmaktadır.
                    <br />İlgili standartlara göre kayma açıları yada sürtünme katsayıları ölçülerek , hangi alanlara döşeme için uygun olduğu hakkında bilgi verir.
                    <br />Antislip ürünler , havuz ve havuz kenarları gibi kayma riskinin yüksek olduğu alanlar veya yağ vb. ile kayganlaşan zemine sahip endüstriyel alanlarda tercih edilir. </p>
            </div>

            <button class="accordion">Kaymazlık sınıfları nelerdir, hangi ürünler nereye döşenir?</button>
            <div class="panel">
                <p style="color:black">Endüstriyel alanlar için yapılan kaymazlık sınıflandırması , Ramp testindeki kayma açısı tespitine dayanır ve R9 – R13 arasında gruplandırılır.
                    <br />DIN 51130 ‘a göre yapılan sınıflandırma ;
                    <br />R9  : kayma açısı >60 – 100 / düşük statik sürtünme (giriş alanları, banyolar, mutfaklar)
                    <br />R10 : kayma açısı >100 – 190 / normal statik sürtünme (depo alanları)
                    <br />R11 : kayma açısı >190 – 270 / yükseltilmiş statik sürtünme (lokantalar, yemekhaneler)
                    <br />R12 : kayma açısı >270 – 350 / yüksek statik sürtünme (endüstriyel mutfaklar, itfaiye binaları)
                    <br />R13 : kayma açısı >350 / çok yüksek statik sürtünme (deri-tekstil fabrikaları, yağ üretim tesisleri)

                    <br />DIN 51097 ‘ye göre yapılan çıplak ayak testine göre sınıflandırma ;
                    <br />Sınıf A : eğim açısı >120 - 170 (çıplak ayakla yürünen koridorlar , sauna ve dinlenme alanları)
                    <br />Sınıf B : eğim açısı >180 - 230 (havuz çevresindeki duşlar , merdiven basamakları)
                    <br />Sınıf C : eğim açısı >240 (eğimli havuz kenarları)

                    <br />ASTM C1028 ‘e göre ;
                    <br />SCOF 0 – 0,5 kaygan ürün
                    <br />SCOF 0,5 – 0,6 tam güvenli değil
                    <br />SCOF > 0,6 mükemmel sürtünme (min. şart)

                    <br />ANSI B101.3 ‘e göre ;
                    <br />DCOF < 0,30 kayma olasılığı yüksek
                    <br />DCOF 0,30-0,40 (düz zemin) , 0,30-0,42 (eğimli) kabul edilebilir
                    <br />DCOF > 0,42 (düz zemin) , > 0,45 (eğimli) kayma olasılığı düşük (min. şart)
                </p>
            </div>

            <button class="accordion">Aşınma sınıfları nelerdir? PEI ne anlama gelir?</button>
            <div class="panel">
                <p style="color:black">Sırlı yer karoları , aşınma değerlerine göre 5 sınıfta değerlendirilir. Yüzey aşınma dayanımı  sınıflandırması , TS EN 10545-17 standardında tarif edilen teste göre yapılır ve PEI 1-5 arasında bir değerle tanımlanır.
                    <br />Genellikle koyu renkli ürünler , açık renkli ürünlere göre daha düşük PEI sınıfına sahiptir.
                    <br />Ürün seçerken , döşenecek alandaki kullanım yoğunluğu dikkate alınarak , uygun aşınma dayanımına (PEI sınıfına) sahip ürünler tercih edilmelidir.

                    <br /><br /><strong>PEI .I </strong>: Aşındırıcı maddelerin bulunmadığı ve çıplak ayak veya yumaşak tabanlı ayakkabılarla dolaşılacak zeminlere uygundur (banyo , yatak odası gibi)
                    <br /><strong>PEI .II </strong>: Az miktarda aşındırıcı maddelerin zaman zaman bulunabildiği veya spor ayakkabısı , kauçuk tabanlı ayakkabılar ile dolaşılacak zeminlere uygundur (yemek odası , yaşam alanları)
                    <br /><strong>PEI .III </strong>: Az miktarda aşındırıcıların bulunduğu ve kösele tabanlı ayakkabılar ile dolaşılacak zeminlere uygundur (koridorlar , hol girişleri , teraslar)
                    <br /><strong>PEI .III </strong>: Az miktarda aşındırıcıların bulunduğu ve kösele tabanlı ayakkabılar ile dolaşılacak zeminlere uygundur (koridorlar , hol girişleri , teraslar)
                    <br /><strong>PEI .IV </strong>: Aşındırıcı maddelerin bulunduğu ve yoğun trafiğe sahip zeminlere uygundur (eczane,banka, okul,otel lobileri gibi)
                    <br /><strong>PEI .V </strong>: Aşındırıcı maddelerin çok ve yaya trafiğinin yoğun olduğu zeminlere uygundur (çarşı,kafetarya girişleri ve dolaşım alanları,reyonlar gibi)

    <br /><br />PEI.V sınıfı ürünlerin , lekelenme dayanımlarının da yüksek olması gerekir.
</p>
            </div>

            <button class="accordion">Lekelenme dayanımı sınıflandırması nedir?</button>
            <div class="panel">
                <p style="color:black">Karoların çeşitli ev kimyasalları , havuz kimyasalları ile farklı lekelendiricilere (kahve , asitler , bazlar , mürekkep vb) karşı dayanımları test edilir ve karolar sınıflandırılır. İlgili standart , sırlı ve sırsız karolarda leke sınıfının min. 3 olmasını öngörür.
                <br />Sınıflandırma ;
                <br /><strong>Sınıf 5 </strong>: Karo yüzeyindeki lekeler , sıcak su ile temizlenebilir.
                <br /><strong>Sınıf 4 </strong>: Lekeler , zayıf temizleyiciler ile temizlenebilir.
                <br /><strong>Sınıf 3 </strong>: Güçlü temizleyiciler lekeleri çıkartabilir.
                <br /><strong>Sınıf 2:</strong> Lekelerin çıkarılması için çözücülere (aseton gibi) ihtiyaç duyulur.
                    </p>
            </div>

            <button class="accordion">Lappato ne anlama gelir?</button>
            <div class="panel">
                <p style="color:black">Sırlı veya sırsız porselen karoların (fırınlama sonrası) hafif  mekanik aşındırma yoluyla parlatılmasıdır. Lekelenmeye karşı , –çoğunlukla- özel bir film tabakası ile kaplanırlar.
                    <br />Yüzeyler daha parlak ve şık bir görünüme kavuşur.
                    <br />Özel üretilmiş duvar karoları ve granüllü yer karolarına , semi-lappato işlemi uygulanarak , yarı parlak karolar da üretilmektedir. Bu yolla , karo yüzeyinde farklı bir efekt elde edilir.
                </p>
            </div>

            <button class="accordion">Rektifiye karo nedir?</button>
            <div class="panel">
                <p style="color:black">Karolar arasındaki ebat farklılıklarını ortadan kaldırmak için yapılan boyutlandırma işlemidir.
                    <br />Bu işlem sonrasında karo kenarlarındaki eğimli kısım da ortadan kalktığı için , döşemede görüntü bütünlüğü de sağlanmış olur.
                    <br />Rektifiye karoların en az 1 mm derz ile döşenmesi tavsiye edilir.
                </p>
            </div>

            <button class="accordion">Kuru ve palet etiketlerimizde bulunan renk tonu kodu (T) nedir?</button>
            <div class="panel">
                <p style="color:black">Renk tonu kodu , farklı zamanlarda üretilmiş ürünlerin parti numaraları olarak tanımlanabilir.
                    <br />T1 ‘den başlayarak sıralı olarak devam eden bir sistemdir.
                    <br />Ardışık numaralar (T3,T4,T5 gibi) , renk yakınlığını belirtmez.
                    <br />Her bir ton kendi içinde bütünlüğe sahiptir , mutlaka aynı renk tonları aynı alana döşenmelidir.</p>
            </div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }
</script>
        </div>       
    </div>
</section>